<%- include layouts/header %>
<a class="button is-primary" href='/' style="position: fixed; top: 80%; right:5%; height: 60px; width: 60px; border-radius:50%; z-index:999">
	<
</a>
<h1 class="title">Facebook</h1>
<h2 class="subtitle">User profile: <a href="https://facebook.com/<%- username %>" ><%- username %></a></h2>
<br>
 <p class="subtitle">
    Score: <%- (score * 100).toFixed(2) + '%' %>
 </p>
 <div class="columns is-multiline"> 
 <% for(let post of posts) {%>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <%- post.text %>            
                </div>        
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">Likes: <%- post.like_count %></p>
                <p class="card-footer-item">Angry: <%- post.angry_count %></p>
                <p class="card-footer-item">Happy: <%- post.happy_count %></p>
                <p class="card-footer-item">Laughs: <%- post.laughing_count %></p>
            </footer>
        </div>
    </div>
 <% } %>
 </div>
 
<%- include layouts/footer %>