<%- include layouts/header %>
<a class="navbar-item" href="/">
    <img src="img/influenseer.png" id = "logo" alt="Influenseer" width="200" height="63">
</a>      
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" id = "nonaction" href="/leaderboards">Leaderboard</a>
            <a href="/stream" class="button is-link is-hoverable" id = "iblue">Stream</a>
          </div>
        </div>
      </div>
</nav>
<a class="button is-primary"id="iblue" href='/' style="position: fixed; top: 80%; right:5%; height: 60px; width: 60px; border-radius:50%; z-index:999">
	<
</a>
<h2 class="title is-2">Facebook</h2>
<nav class="level is-mobile">
    <div class = "level-left">
        <div class="level-item has-text-left">
          <div>
            <p class="heading">User Profile</p>
            <p class="title is-3"><a href="https://facebook.com/<%- username %>" ><%- username %></a></p>
          </div>
        </div>
    </div>
    <div class = "level-right">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Score</p>
            <p class="title is-1"><%- (score * 100).toFixed(2) + '%' %></p>
          </div>
        </div>
    </div>
</nav>
 <div class="columns is-multiline"> 
 <% for(let post of posts) {%>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <%- post.text %>            
                </div>        
            </div>
            <footer class="card-footer">
                <p class="card-footer-item"> <img src="img/like.png" style="height: 20px; width: 20px" /> <br> <%- post.like_count %></p>
                <p class="card-footer-item"> <img src="img/mad.svg" style="height: 20px; width: 20px" /> <br> <%- post.angry_count %></p>
                <p class="card-footer-item"> <img src="img/wow.svg" style="height: 20px; width: 20px" /> <br> <%- post.happy_count %></p>
                <p class="card-footer-item"> <img src="img/sad.svg" style="height: 20px; width: 20px" /> <br> <%- post.sad_count %></p>
                <p class="card-footer-item"> <img src="img/laugh.png" style="height: 20px; width: 20px" /> <br> <%- post.laughing_count %></p>
                <p class="card-footer-item"> <img src="img/heart.png" style="height: 20px; width: 20px" /> <br> <%- post.love_count %></p>
            </footer>
        </div>
    </div>
 <% } %>
 </div>
 
<%- include layouts/footer %>