<%- include layouts/header %>
<a href="/" class="button">Back</a>
<br>
<img src="<%- data.graphql.user.profile_pic_url %>" alt="">
<br>
<%- data.graphql.user.full_name %>
<br>
<%- data.graphql.user.username %>
<div class="columns is-multiline is-mobile">
<% for(let image of data.graphql.user.edge_owner_to_timeline_media.edges) { %>
    <div class="column is-one-third">
        <a href="https://instagram.com/p/<%-image.node.shortcode%>" target="_blank">
            <img src="<%-image.node.display_url%>" />
        </a>
        <% for(let text of  image.node.edge_media_to_caption.edges) { %>
            <small><%-text.node.text%></small>
        <% } %> 
    </div>
<% } %>
</div>
<%- include layouts/footer %>