<%- include layouts/header %>
<a class="navbar-item" href="/">
    <img src="img/influenseer.png" id = "logo" alt="Influenseer" width="200" height="63">
</a>      
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" id = "nonaction" href="/leaderboards">Leaderboard</a>
            <a href="/stream" class="button is-link is-hoverable" id = "iblue">Stream</a>
          </div>
        </div>
      </div>
</nav>
<a class="button is-primary" id="iblue" href='/' style="position: fixed; top: 80%; right:5%; height: 60px; width: 60px; border-radius:50%; z-index:999">
	<
</a>

<div class='columns'>
	<div class='column'>
		<br>
		<img src="<%- data.graphql.user.profile_pic_url %>" alt="" style="border-radius:50%"/>
	</div>
	<div class='column' style="position:relative">
		<div style="position:absolute; top:50%; right:50%">	
			<span class='subtext'>Full Name</span>
			<br/>
			<span class='main_text'><%- data.graphql.user.full_name %></span>
		</div>
	</div>
	<div class='column' style="position:relative">
		<div style="position:absolute; top:50%; right:50%">	
			<span class='subtext'>Username</span>
			<br/>
			<span class='main_text'><%- data.graphql.user.username %></span>
		</div>
	</div>
	<div class='column' style="position:relative">
		<div style="position:absolute; top:50%; right:50%">	
			<span class='subtext'>Followers</span>
			<br/>
			<span class='main_text'><%- data.graphql.user.edge_followed_by.count %></span>
		</div>
	</div>
	<div class='column' style="position:relative">
		<div style="position:absolute; top:50%; right:50%">	
			<span class='subtext'>Score</span>
			<br/>
			<span class='main_text'><%- ((score) * 100).toFixed(2) + '%' %></span>
		</div>
	</div>
</div>
<hr>


<div class="columns is-multiline is-mobile">
<% for(let image of data.graphql.user.edge_owner_to_timeline_media.edges) { %>
    <div class="column is-one-third">
    	<div class="card">
    		<div class="card-image">
		        <a href="https://instagram.com/p/<%-image.node.shortcode%>" target="_blank">
		            <img src="<%-image.node.display_url%>" />
		        </a>
		    </div>
		    <div class="card-content">
		        <% for(let text of  image.node.edge_media_to_caption.edges) { %>
		            <small><%-text.node.text%></small>
		        <% } %> 
		    </div>
		</div>
    </div>
<% } %>
</div>
<%- include layouts/footer %>