<%- include layouts/header %>
<a class="button is-primary" href='/' style="position: fixed; top: 80%; right:5%; height: 60px; width: 60px; border-radius:50%; z-index:999">
	<
</a>
<h2 class="title">Leaderboards</h2>
<table class="table">
    <thead>
        <tr>
            <thead>
                <th>Ranking</th>
                <th>Platform</th>
                <th>Username</th>
                <th>Follower Count</th>
                <th>Score</th>
                <th>Viable for Beauty?</th>
                <th>Viable for Family?</th>
            </thead>
        </tr>
    </thead>
    <tbody>
        <% let i = 1; %>
        <% for(let influencer of influencers) { %>
            <tr>
                <td><%- i %></td>
                <td><%- influencer.platform%></td>
                <td><%- influencer.screen_name%></td>
                <td><%- influencer.follower_count %></td>
                <td><%- ((influencer.score) * 100).toFixed(2) + '%' %></td>
                <td><%- influencer.is_beauty%></td>
                <td><%- influencer.is_family%></td>
            </tr>
            <% i++; %>
        <% } %>
    </tbody>
</table>
<%- include layouts/footer %>