<%- include layouts/header %>
<a class="navbar-item" href="/">
    <img src="img/influenseer.png" id = "logo" alt="Influenseer" width="200" height="63">
</a>      
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" id = "nonaction" href="/leaderboards">Leaderboard</a>
            <a href="/stream" class="button is-link is-hoverable" id = "iblue">Stream</a>
          </div>
        </div>
      </div>
</nav>
<a class="button is-primary" id="iblue" href='/' style="position: fixed; top: 80%; right:5%; height: 60px; width: 60px; border-radius:50%; z-index:999">
	<
</a>
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                <a href="https://twitter.com/<%- user.screen_name %>">
                    <img src="<%- user.profile_image_url_https %>">                    
                </a>
                </figure>
            </div>
            <div class="media-content" style="overflow:hidden;">
                <p class="title is-4"><%-user.name %></p>
                <p class="subtitle is-6">@<%- user.screen_name %></p>
            </div>
            <div class="columns">
                <div class="column">
                    <p class="title is-6">Followers Count:</p>
                    <%- user.followers_count %>    
                </div>
                <div class="column">
                <p class="title is-6">Statuses Count:</p>
                    <%- user.statuses_count %>    
                </div>
                <div class="column">
                    <p class="title is-6">Score:</p>
                    <%- ((score) * 100).toFixed(2) + '%' %>    
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="columns is-multiline">
    <% for(let tweet of tweets) {%>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <%- tweet.text %>
                    <br>
                    <a href="https://twitter.com/<%- user.screen_name%>/status/<%- tweet.id_str %>">
                        <time datetime="2016-1-1"><%- tweet.created_at %></time>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>
<%- include layouts/footer %>